<% content_for(:title, t('.title')) %>
<h1><%= t('.title') %></h1>

<% if @fragrances.any? %>
  <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
    <% @fragrances.each do |fragrance| %>
      <li class="p-4 border rounded shadow-sm bg-white">
        <strong><%= fragrance.brand %></strong> - <%= fragrance.name %>
        <div class="h-[200px] overflow-hidden mb-4">
          <% if fragrance.image.attached? %>
            <%= image_tag fragrance.image.variant(resize_to_limit: [300, 300]), class: "w-full h-full object-cover rounded shadow" %>
          <% else %>
            <%= image_tag "default_fragrance.png", class: "w-full h-full object-cover rounded shadow" %>
          <% end %>
        </div>
        <%= link_to t('defaults.show'), fragrance_path(fragrance), class: "btn btn-sm" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>まだ香水が登録されていません。</p>
<% end %>

<%= link_to "香水を登録する", new_fragrance_path, class: "btn btn-primary" %>