<h1><%= t('.title') %></h1>

<% if @fragrances.any? %>
  <ul class="space-y-4">
    <% @fragrances.each do |fragrance| %>
      <li class="p-4 border rounded shadow-sm bg-white">
        <strong><%= fragrance.brand %></strong> - <%= fragrance.name %>
        <% if fragrance.image.attached? %>
          <%= image_tag fragrance.image, class: "rounded shadow-md mb-4" %>
        <% else %>
          <%= image_tag "default_fragrance.png", class: "rounded shadow-md mb-4" %>
        <% end %>
        <%= link_to t('defaults.show'), fragrance_path(fragrance), class: "btn btn-sm" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>まだ香水が登録されていません。</p>
<% end %>

<%= link_to "香水を登録する", new_fragrance_path, class: "btn btn-primary" %>