<% content_for(:title, @fragrance.name) %>

<section class="px-1 py-10 sm:px-6 lg:px-8">
  <div class="max-w-full mx-auto bg-white p-2 sm:p-6 rounded-xl shadow-lg">
    <h1 class="text-xl sm:text-2xl font-bold break-words">
      <span class="text-sm sm:text-base text-gray-500 mr-2"><%= @fragrance.brand %></span>
      <%= @fragrance.name %>
    </h1>

    <!-- タグ -->
    <div class="mb-4">
      <span class="text-sm font-medium text-gray-700 mr-2">カテゴリ:</span>
      <%= display_tags(@fragrance) %>
    </div>

    <div class="md:flex md:space-x-6">
      <!-- 左側 -->
      <div class="md:w-1/2 w-full">
        <% if @fragrance.image.attached? %>
          <%= image_tag @fragrance.image.variant(resize_to_limit: [800, 600]), class: "w-full h-[250px] object-cover rounded-xl shadow-md mb-4" %>
        <% else %>
          <%= image_tag "default_fragrance.png", class: "w-full h-[250px] object-cover rounded-xl shadow-md mb-4" %>
        <% end %>

        <p class="break-words text-sm sm:text-base">公開設定：<%= @fragrance.status_i18n %>
        <% if @fragrance.published? %>
          <i class="fas fa-globe" style="color: #74C0FC;" title="公開中"></i>
        <% else %>
          <i class="fas fa-lock text-gray-400" title="非公開"></i>
        <% end %></p>

        <% if @fragrance.unpublished? %>
          <%= link_to new_review_path(fragrance_id: @fragrance) , class: "btn btn-outline btn-sm w-full sm:w-auto mt-2" do %>
            <i class="fa-solid fa-comments"></i>
            <span>香りを紹介する</span>
          <% end %>
        <% elsif @fragrance.published? && (review = @fragrance.review) %>
          <%= link_to review_path(review), class: "btn btn-outline btn-sm w-full sm:w-auto mt-2" do %>
            <i class="fa-solid fa-comments"></i>
            <span>この香水の紹介を見る</span>
          <% end %>
        <% end %>
      </div>

      <!-- 右側（チャート） -->
      <div class="md:w-1/2 w-full mt-6 md:mt-0">
        <div class="p-2 sm:p-4 border-gray rounded bg-white shadow overflow-hidden w-full">
          <%= render "shared/radar_chart",
            chart_id: "fragrance_chart_#{@fragrance.id}",
            data: [
            @fragrance.sweetness,
              @fragrance.freshness,
              @fragrance.floral,
              @fragrance.sexy,
              @fragrance.spicy,
              @fragrance.calm
            ] %>
        </div>
      </div>
    </div>

    <!-- ボタン -->
    <div class="mt-8 text-center space-y-4">
      <div class="flex flex-col sm:flex-row justify-center gap-3 sm:gap-6">
        <%= link_to edit_fragrance_path(@fragrance), class: "btn btn-outline w-full sm:w-auto" do %>
          <i class="fa-solid fa-pen"></i>
          <span><%= t('defaults.edit') %></span>
        <% end %>
        <%= link_to fragrance_path(@fragrance), method: :delete, data: { confirm: t('defaults.delete_confirm') }, class: "btn btn-error w-full sm:w-auto" do %>
          <i class="fa-solid fa-trash"></i>
          <span><%= t('defaults.delete') %></span>
        <% end %>
      </div>
      <div class="flex justify-center mt-4">
        <%= link_to "マイ香水一覧に戻る", fragrances_path, class: "btn py-2 px-4 rounded-lg shadow-md w-full sm:w-auto" %>
      </div>
    </div>
  </div>
</section>