<h1><%= t('.title') %></h1>

<h2><%= t('activerecord.attributes.fragrance.name') %>： <%= @fragrance.name %></h2>
<p><%= t('activerecord.attributes.fragrance.brand') %>: <%= @fragrance.brand %></p>

<div class="mt-4 space-x-2">
  <%= link_to t('defaults.edit'), '#', class: "btn btn-outline" %>
  <%= link_to t('defaults.delete'), '#', method: :delete, data: { confirm: t('defaults.delete_confirm') }, class: "btn btn-error" %>
  <%= link_to t('defaults.back_index'), fragrances_path, class: "btn" %>
</div>