<ul class="menu md:flex flex-col w-48 p-4 bg-[#e4e7e1] text-base-content">
  <li>
    <%= link_to fragrances_path, class:"mb-2 p-4 rounded" do %>
      <i class="fa-solid fa-spray-can-sparkles"></i>
      <span><%= t('menu.fragrance') %></span>
    <% end %>
  </li>
  <li>
    <%= link_to calendars_path, class:"mb-2 p-4 rounded" do %>
      <i class="fa-solid fa-calendar"></i>
      <span><%= t('menu.calendar') %></span>
    <% end %>
  </li>
  <li>
    <%= link_to reviews_path, class:"mb-2 p-4 rounded" do %>
      <i class="fa-solid fa-comments"></i>
      <span><%= t('menu.review') %></span>
    <% end %>
  </li>
  <li>
    <%= link_to new_diagnosis_path, class:"mb-2 p-4 rounded" do %>
      <i class="fa-solid fa-magnifying-glass-plus"></i>
      <span><%= t('menu.diagnosis') %></span>
    <% end %>
  </li>
</ul>