<% content_for(:title, t('.title')) %>
<h1><%= t('.title') %></h1>


<%= month_calendar events: @calendars do |date, calendars| %>
  <%= date.day %>

  <% calendars.each do |calendar| %>
    <div class="mt-1">
      <%= link_to calendar_path(calendar), class: "text-sm text-green-800 font-semibold hover:underline" do %>
        <%= calendar.fragrance.name %>
      <% end %>

      <%= link_to calendar_path(calendar) do %>
        <% if calendar.fragrance.image.attached? %>
          <%= image_tag calendar.fragrance.image.variant(resize_to_limit: [150, 150]), class: "w-24 h-10 rounded object-contain rounded" %>
        <% else %>
          <%= image_tag "default_fragrance.png", class: "rounded w-24 h-10 object-contain" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= link_to "新しく記録する", new_calendar_path, class: "btn btn-primary" %>