<div class="bg-white backdrop-blur-m p-4 rounded-xl shadow-lg flex flex-col relative">
  <% fragrance = review.fragrance %>
  <!-- ボトル画像 -->
  <div class="h-60 flex items-center justify-center rounded-md overflow-hidden">
    <%= link_to review_path(review), data: { action: "click->loading#show" } do %>
      <div class="object-cover w-full h-[200px] cursor-pointer transition hover:opacity-80">
        <% if fragrance.image.attached? %>
          <%= image_tag fragrance.image.variant(resize_to_limit: [600, 400]), class: "w-full h-full object-cover rounded-xl shadow" %>
        <% else %>
          <%= image_tag "default_fragrance.png", class: "w-full h-full object-cover rounded-xl shadow" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- ブランド名・香水名 -->
  <div class="flex flex-grow flex-col px-3 mt-4">
    <p class="text-sm text-gray-500 font-semibold"><%= fragrance.brand %></p>
    <p class="text-xl font-bold"><%= fragrance.name %></p>
  </div>

  <p class="line-clamp-3 text-sm text-gray-800 mb-2">
    <%= simple_format(truncate(review.body, length: 100, omission: '…続きを読む')) %>
  </p>

  <!-- ユーザー情報 -->
  <div class="flex items-center text-sm text-gray-600 mb-2">
    <div class="avatar mr-2">
      <div class="w-6 rounded-full">
        <% if review.user.profile_image.attached? %>
          <%= image_tag review.user.profile_image, alt: review.user.name %>
        <% else %>
          <div class="bg-neutral text-neutral-content rounded-full w-6 h-6 flex items-center justify-center">
            <i class="fa-solid fa-user text-xs"></i>
          </div>
        <% end %>
      </div>
    </div>
    <span><%= review.user.name.presence || "匿名" %></span>
  </div>
</div>